<header class="site-header">
  <div class="site-header__container">
    <a href="/" class="site-header__logo">TechStore</a>
    <nav class="site-header__nav">
      <a href="/" class="site-header__link">Inicio</a>
      <a href="#" class="site-header__link">Productos</a>
      <a href="#" class="site-header__link">Contacto</a>
    </nav>
    <div class="site-header__auth">
      <a href="/login" class="btn btn-outline">Iniciar sesión</a>
      <a href="/register" class="btn btn-primary">Registrarse</a>
    </div>
  </div>
</header>
