<header class="header">
    <nav class="nav container">
        <a href="/" class="nav__logo">TiendaTec</a>

        <ul class="nav__links">
            <li class="nav__item">
                <a href="/" class="nav__link">Catálogo</a>
            </li>
            <li class="nav__item">
                <a href="/login" class="nav__link">Iniciar sesión</a>
            </li>
            <li class="nav__item">
                <a href="/registro" class="btn">Registrarse</a>
            </li>
        </ul>
    </nav>
</header>
<main class="main">