<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Título dinámico: Si la página que renderiza no provee un título, usará 'TiendaTec' por defecto :). -->
    <title><%= typeof titulo !== 'undefined' ? titulo : 'TiendaTec' %></title>
    
    <!-- Descripción para SEO -->
    <meta name="description" content="La mejor tienda de productos tecnológicos. Encuentra portatiles, celulares, y más.">
    <!-- CSS de Font Awesome para los iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"> 
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>