<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="container">
    <h1>¡El sistema de vistas funciona!</h1>
    <p>Este es el contenido de la página del catálogo.</p>
    <p>En el siguiente paso, mostraremos aquí los productos que encontramos en la base de datos.</p>
</div>

<%- include('../partials/footer') %>